<app-navbar></app-navbar>
<div class="grid grid-cols-2 gap-4 mt-40 mx-40">

  <div
    class="w-full bg-green-700 px-4 py-2 rounded text-white font-bold h-40 flex flex-col items-center"
  >
    <h2>Usuario con más guías asignadas</h2>
    <p class="pt-8 font-normal">El usuario con mas guías asignadas es: {{userMostGuides}} con un total de {{totalGuidesUser}}</p>
  </div>
  <div
    class="w-full bg-amber-700 px-4 py-2 rounded text-white font-bold h-40 flex flex-col items-center"
  >
    <h2>Vehiculos más usados</h2>
    <p class="pt-8 font-normal">El vehiculo más usado es: {{vehicleMostUsed}} con un total de {{vehicleMostUsedTotal}}</p>
  </div>
</div>
